#first-calculator-basic .container {
	max-width: 300px;
	margin: 50px auto;
	box-shadow: 0px 0px 30px 30px rgb(202, 193, 241);
	#display {
		border: 1px solid #999;
		text-align: right;
		align-items: center;
		height: 50px;
		line-height: 50px;
		padding: 10px 8px;
		font-size: 25px;
		color: black;
		font-weight: 900;
		overflow: hidden;
	}

	.buttons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		border: 1px solid #999;

		.button {
			width: calc(100%/12*2.9);
			height: 70px;
			text-align: center;
			border: 1px solid #999;
			line-height: 70px;
			transition: 0.2s all;
			cursor: pointer;

			&:hover {
				background-color: rgb(50, 50, 182);
				color: white;
			}

			&.result {
				background-color: rgb(71, 245, 138);
				&:hover {
					background-color: rgb(3, 80, 32);
					color: white;
				}
			}
		}
	}
}
